---
import Layout from "../layouts/Layout.astro";
import { Button } from "@/components/ui/button";
---

<Layout>
  <main
    style="min-height: 100vh; display: grid; place-items: center; padding: 2rem;"
  >
    <Button>Test shadcn</Button>
  </main>
</Layout>
